.tasks {
  --tasks-padding: calc(var(--inch) / 8);

  display: grid;
  grid-template-columns: auto auto;
}

.task {
  --task-content-height: calc(var(--inch) - var(--tasks-padding) * 2);
  --task-content-width: calc(var(--inch) * 4 - var(--tasks-padding) * 2);
}

.task.task-collapsed {
  --task-content-width: calc(var(--inch) - var(--tasks-padding) * 2);
}

.tasks > .task {
  background-color: white;
  border-radius: calc(var(--inch) / 8);

  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--tasks-padding);
  padding: var(--tasks-padding);
  margin: calc(var(--inch) / 32);
  height: var(--task-content-height);
  max-height: var(--task-content-height);
  min-height: var(--task-content-height);

  max-width: var(--task-content-width);
  min-width: var(--task-content-width);
  width: var(--task-content-width);
}

.icon {
  display: flex;
  height: var(--task-content-height);
  width: var(--task-content-height);
}

.icon > img {
  height: var(--task-content-height);
  width: var(--task-content-height);
}

@font-face {
  font-family: playfair;
  src: url(/PlayfairDisplay-VariableFont_wght.ttf);
}

.label {
  font-family: playfair;
  margin: 0 auto;
  font-size: calc(var(--inch) * 0.5);
}

.label.homeschool-plus-hack {
  font-size: calc(var(--inch) * 0.45);
  display: flex;
  align-items: center;
}

.label.homeschool-plus-hack span {
  font-size: calc(var(--inch) * 0.2);
}

.task.task-collapsed .label {
  display: none;
}
