.tasks {
  --tasks-padding: calc(var(--inch) / 8);

  display: grid;
  grid-template-columns: auto auto;
}

.task {
  background-color: white;
  border-radius: calc(var(--inch) / 8);

  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--tasks-padding);
  padding: var(--tasks-padding);

  --task-content-height: calc(var(--inch) - var(--tasks-padding) * 2);
  height: var(--task-content-height);
  max-height: var(--task-content-height);
  min-height: var(--task-content-height);

  --task-content-width: calc(var(--inch) * 4 - var(--tasks-padding) * 2);
  max-width: var(--task-content-width);
  min-width: var(--task-content-width);
  width: var(--task-content-width);
}

.icon {
  display: flex;
  max-height: var(--task-content-height);
  max-width: var(--task-content-height);
  min-height: var(--task-content-height);
  min-width: var(--task-content-height);
}

@font-face {
  font-family: playfair;
  src: url(/PlayfairDisplay-VariableFont_wght.ttf);
}

.label {
  font-family: playfair;
  margin: 0 auto;
  font-size: calc(var(--inch) * 0.5);
}
